{% extends 'son/main.html'%}

{% load static %}


{%block content%}
<div class="three">
    <a href="{% url 'home' %}" style="margin-top:10px ;"><img src="{% static '/image/arrow.png' %}" alt="" style="width: 40px;height: 40px;"></a> 
   <table>
       <caption>Table Affiche 2 </caption>
       <thead>
           <tr> 
               <td>Refrence</td>
               <td>Nb Fact</td>
               <td>Mont Fact</td>
               <td>Ad Code</td>
           </tr> 
       </thead>
       <tbody>
        {% for item  in f2 %}
           <tr>
               <td>{{item.ref_f2}}</td>
               <td>{{item.Nb_Fact}}</td>
               <td>{{item.montant_f2}}</td>
               <td>{{item.ad_code_f2}}</td>
           </tr>
        {% endfor %}
        </tbody>
  </table>
</div>



{%endblock content%}